@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-background: #050505;
}

body {
  background-color: var(--color-background);
  color: white;
  font-family: var(--font-sans);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
}